<h1>New message</h1>

<form id="new-message" name="message">
  <div class="field">
    <label for="from"> from:</label>
    <input type="text" name="from" id="from" value="<%= from %>" >
  </div>

  <div class="field">
    <label for="email"> email:</label>
    <input type="text" name="email" id="email" value="<%= email %>" >
  </div>

  <div class="field">
    <label for="company"> company:</label>
    <input type="text" name="company" id="company" value="<%= company %>" >
  </div>

  <div class="field">
    <label for="phone"> phone:</label>
    <input type="text" name="phone" id="phone" value="<%= phone %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Message" />
  </div>

</form>

<a href="#/index">Back</a>